// (Mosen) 添加继承样式
// @extend %xx 语法

%bgColor{
  background: #36c6d3;
}
%cyan-btn { // 索邦青绿按钮
  background: #36c6d3;
  border: none;
  color: #fff;
}

%blue-btn {// 索邦蓝色按钮
  background: #169bd5;
  border: none;
  color: #fff;
}

//横向弹性布局
%flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &:before,
  &:after {
    display: flex;
  }
}

// 纵向弹性布局
%flexColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &:before,
  &:after {
    display: flex;
  }
}

// x轴原点
%start {
  @extend %flex;
  justify-content: flex-start;
}

// x轴居中
%center {
  @extend %flex;
  justify-content: center;
}

// x轴反方向
%end {
  @extend %flex;
  justify-content: flex-end;
  align-items: center;

}

// x轴平分
%space-between {
  @extend %flex;
  justify-content: space-between;
  align-items: center;
}

// x轴有间隔地平分
%space-around {
  @extend %flex;
  justify-content: space-around;
  align-items: center;

}

// 顶部对齐
%top {
  @extend %flex;
  align-items: flex-start;
}

// 居中对齐
%middle {
  @extend %flex;
  align-items: center;
}

// 底部对齐
%bottom {
  @extend %flex;
  align-items: flex-end;
}

// 弹性布局法垂直水平居中
%verticalCenter {
  @extend %flex;
  align-items: center;
  justify-content: center;
}

// 定位法垂直水平居中
%tran50 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
