//本项目没有设置自动注入 sass 的 mixin 到全局，所以需要在使用的地方手动引入 mixin. (Mosen 注释)
// @import "src/styles/mixin.scss";
//声明混合宏：@mixin
//调用混合宏：@include
@import "./extend.scss";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;

  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }

  @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  }

  @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}

//物理像素是css像素的倍数
// 算法例:j(20) 20/base-font-size * rem (20或30或40)
$base-font-size: 40px;
@function j($px, $base-font-size: 40px) {
  @if (unitless($px)) {
    //@warn "正在 #{$px} 以像素为单位，尝试为你将其转换为像素";
    @return j($px + 0px); // That may fail.
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

@function g($px) {
  @return ($px / 2) * 1px;
}

//尺寸
@mixin size($width,$height:$width) {
  @if (unitless($width)) {
    width: j($width);
    height: j($height);
  } @else {
    width: j($width);
    height: j($width);
  }
}
